* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
}

body,
html {
  overflow-x: hidden;
  font-family: 'Ropa Sans', sans-serif;
}

.webgl {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

nav {
  color: white;
  z-index: 2;
  position: relative;
  padding: 4rem 8rem;
  display: flex;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0);
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 4rem;
}

.title {
  color: white;
  z-index: 2;
  position: absolute;
  font-size: 3rem;
  left: 50%;
  top: 15%;
  transform: translate(-50%, -25%);
}

footer {
  color: white;
  bottom: 0%;
  left: 50%;
  align-items: center;
  transform: translateX(-50%); /* Adjusts the centering to be precise */
  z-index: 2;
  position: absolute;
  padding: 4rem 8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: rgba(255, 255, 255, 0);
}

#blockHeightForm {
  color: white; /* Text color for the form */
  display: flex;
  flex-direction: column;
}

#blockHeightForm input,
#blockHeightForm button {
    font-family: 'Ropa Sans', sans-serif;
    color: white; /* Text color for input and button */
    background-color: #111; /* Background color for input and button */
    border: 1px solid #222; /* Border for input and button */
    padding: 5px 10px; /* Padding for input and button */
    border-radius: 5px;
}

/* Styles specifically for the placeholder text */
#blockHeightForm input::placeholder {
    color: white; /* Placeholder text color */
    opacity: 1; /* Full opacity for placeholder text */
}

/* Hide the up and down arrows for number input in Webkit browsers like Chrome, Safari */
#blockHeightForm input[type="number"]::-webkit-outer-spin-button,
#blockHeightForm input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Hide the up and down arrows for number input in Mozilla Firefox */
#blockHeightForm input[type="number"] {
    -moz-appearance: textfield;
}

/* Media query for mobile devices */
@media (max-width: 768px) { 
  nav {
    padding: 2rem; /* Reduced padding for smaller screens */
    padding-top: 3.5rem;
  }

  nav ul {
    gap: 2rem; /* Reduced gap for smaller screens */
  }

  .title {
    color: white;
    z-index: 2;
    position: absolute;
    font-size: 2rem;
    left: 50%;
    top: 25%;
    transform: translate(-50%, -25%);
  }

}